[submodule "api"]
path = api
url = https://github.com/exyleio/exyleio-api.git

[submodule "discord-bot"]
path = discord-bot
url = https://github.com/exyleio/exyleio-discord-bot.git

[submodule "docs"]
path = docs
url = https://github.com/exyleio/exyleio-docs.git

[submodule "game"]
path = game
url = https://github.com/exyleio/exyleio-game.git

[submodule "launcher"]
path = launcher
url = https://github.com/exyleio/exyleio-launcher.git

[submodule "status"]
path = status
url = https://github.com/exyleio/exyleio-status.git

[submodule "web"]
path = web
url = https://github.com/exyleio/exyleio-web.git

[submodule "wiki"]
path = wiki
url = https://github.com/exyleio/exyleio-wiki.git
